{
  "root": true,
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },

  "rules": {
    "prettier/prettier": 2,
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "no-var": "error",
    "prefer-const": "error"
  }
}
